*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #772299;

}
h1{
    text-align: center;
    font-size: 50px;
    color: #fff;
}
p{
    font-size: 25px;
    color: #fff;
}
.container{
    width: 1000px;
    height: 500px;
    background-color: #fff;
    margin: 30px auto 0;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container-cargo{
    background-color: gainsboro;
    width: 250px;
    height: 250px;
    color: #772299;
    padding: 20px;
    margin: 0 20px;
}
.container-cargo p{
    color: #772299;
}
h2{
    text-align: center;
}