*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #772299;

}
h1{
    text-align: center;
    font-size: 50px;
    color: #fff;
}
p{
    font-size: 25px;
    color: #fff;
}
.container{
    width: 1000px;
    height: 500px;
    background-color: #fff;
    margin: 30px auto 0;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container-cargo{
    background-color: gainsboro;
    width: 250px;
    height: 250px;
    color: #772299;
    padding: 20px;
    margin: 0 20px;
    overflow: scroll;
}
.container-cargo p{
    color: #772299;
}
h2{
    text-align: center;
}
.container_questions{
    width: 500px;
    height: 250px;
    background-color: #fff;
    margin: 20px auto;
    padding: 30px;
}
label{
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}
input{
    display: block;
    width: 200px;
}
button{
    padding: 10px 10px;
    margin-top: 5px;
    color: #fff;
    background-color: #772299;
    border-radius: 5px;
}
li{
    color: #111;
}