*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #772299;
}
h1{
    text-align: center;
    font-size: 50px;
    color: #fff;
}
p{
    font-size: 25px;
    color: #fff;
}